<html>
    <head>
        <style>
            table {
                width: 100%;
            }

            td {
                border: solid black 1px;
                text-align: center;
            }

            p {
                text-align: center;
                max-width: 100px;
                word-wrap: break-word;
            }

            img {
                width: 100px;
                height: 100px;
            }
        </style>
    </head>
    <body>
        {{#boards}}
        <table>
            {{#rows}}
            <tr>
                {{#tiles}}
                <td>
                        {{#path}}
                        <img src="{{.}}">
                        {{/path}}
                        {{#text}}
                        <p>{{.}}</p>
                        {{/text}}
                </td>
                {{/tiles}}
            </tr>
            {{/rows}}
        </table>
        <br>
        {{/boards}}
    </body>
</html>